.DS_Store
**/.DS_Store

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyd
.pytest_cache/

# Virtual environments
.venv/
venv/
env/
.env
.env.*
.myenv/

# Jupyter
.ipynb_checkpoints/

# Local/third-party installs
site-packages/
**/site-packages/
